server:
  port: 8080

spring:
  application:
    name: integrated-health-management
  data:
    mongodb:
      uri: mongodb://localhost:27017/health_management_db

springdoc:
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info
